@import 'basics.less';

body {
  margin: 0;
  padding: 0;
}
.app {
  height: auto;
  h3 {
    font-family: verdana;
    text-align: center;
  }
  .chart_container {
    overflow: hidden;
    canvas {
      margin: auto;
      max-width: 90vh;
    }
  }
}